<ion-view title="幼儿故事">
    <ion-nav-bar class="nav-title-slide-ios7" align-title="center"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <span class="button ion-chevron-left" ng-click="goBack()"></span>
    </ion-nav-buttons>
    <!--<ion-nav-buttons side="right">-->
        <!--&lt;!&ndash;<span ng-click="store()">收藏</span>&ndash;&gt;-->
        <!--<span class="button ion-android-bookmark" ng-click="store()"></span>-->
    <!--</ion-nav-buttons>-->

    <!--歌曲名称，播放控制按钮-->
    <div class="AudioName">
        <div>{{ audioNameCurrent }}</div>
        <span class="loadingText" ng-show="loadingTextShow==1">正在获取数据...</span>
    </div>
    <div class="AudioContent" ng-hide="lrcFull==1">
        <div class="previousSong" ng-click="playPreviousSong()">
            <span class="button"></span>
        </div>
        <div class="SongImg">
            <img src="{{ audioImageCurrent }}" ng-class="{'songPlaying':songPlaying==1}" />
            <span class="button playPause" ng-class="{'ion-play':songPlaying==0,'ion-pause':songPlaying==1}" ng-click="playOrpause()"></span>
        </div>
        <!--<div class="playPause">-->
        <!--</div>-->
        <div class="nextSong" ng-click="playNextSong()">
            <span class="button"></span>
        </div>
    </div>
    <audio id="audioPlayerHide" class="AudioPlayer" style="display: none;" controls="controls">
        <!--<source src="http://www.w3school.com.cn/i/song.mp3" type="audio/mpeg">-->
        Your browser does not support the audio tag.
    </audio>
    <!--歌词-->
    <ion-content class="lrcpanel" ng-class="{'full':lrcFull==1}">
        <div class="audioLrc" ng-bind-html="audioLrcCurrent">
            <!--{{ audioLrcCurrent }}-->
        </div>
    </ion-content>
    <!--播放模式-->
    <div class="playMode">
        <div class="blankSpace"></div>
        <div class="circleMode" ng-click="changeCircleMode()">
            <span class="circle button" ng-class="{'ion-refresh':circleMode==0,'ion-loop':circleMode==1,'ion-shuffle':circleMode==2}"></span>
        </div>
        <div class="showSrc" ng-click="toggleLrc()">
            <span>{{ showSrcTxt }}</span>
        </div>
        <div class="playSheet" ng-click="togglePlaylist()">
            <span class="button ion-android-menu"></span>
        </div>
    </div>
    <!--播放列表-->
    <div class="playList" ng-show="showPlaylist==1">
        <div class="head">
            <span>播放列表({{ listLength | numberTo4 }})</span>
            <!--<span>收藏</span>-->
        </div>
        <ion-content class="playListBody">
            <ul>
                <li ng-repeat="item_audio in items_audio">
                    <span ng-click="playSongByIndex($index)">{{ item_audio.name }}</span>
                    <span class="button audioStore" ng-click="store($index)" ng-class="{'active':item_audio.attentionid!=null}"></span>
                </li>
            </ul>
        </ion-content>
        <div class="footer" ng-click="togglePlaylist()">
            <span>关闭</span>
        </div>
    </div>


</ion-view>