<ion-view title="我的收藏">
    <ion-nav-bar class="nav-title-slide-ios7" align-title="center"></ion-nav-bar>
    <!--<ion-nav-buttons side="left">-->
        <!--<span class="button ion-chevron-left"  ng-click="goBack()"></span>-->
    <!--</ion-nav-buttons>-->
    <!--搜索结果-选项卡-->
    <div class="searchTabsBox collect">
        <div class="searchTabItem" ng-click="changeTab(0)" ng-class="{'active':tabCur==0}">
            <span>幼儿故事</span>
        </div>
        <div class="searchTabItem" ng-click="changeTab(1)" ng-class="{'active':tabCur==1}">
            <span>幼儿课堂</span>
        </div>
        <div class="searchTabItem" ng-click="changeTab(2)" ng-class="{'active':tabCur==2}">
            <span>教育资讯</span>
        </div>
    </div>

    <ion-content class="searchContent collect" ng-show="tabCur==0">
        <!--幼儿故事-->
        <div class="SelContent">
            <div class="SelItem" ng-repeat="item_audio in items_audio" ng-click="playAudio(item_audio)">
                <!--<div class="SelImage">-->
                    <!--<img src="images/temp/recItem01.png" />-->
                <!--</div>-->
                <!--<div class="SelItemTitle">-->
                    <!--大家好大家好大家好-->
                <!--</div>-->
                <!--接后台-->
                <div class="SelImage">
                <img src="{{ item_audio.imgUrl }}" />
                </div>
                <div class="SelItemTitle">
                {{ item_audio.name }}
                </div>
            </div>
        </div>
        <!--加载更多-->
        <div class="loadMoreBox">
            <span class="loadMore" ng-show="loadState0==0" ng-click="loadMoreData0()">查看更多</span>
            <span class="moreIcon" ng-show="loadState0==0" ng-click="loadMoreData0()"></span>
            <ion-spinner icon="bubbles" class="spinner-balanced loading" ng-show="loadState0==1"></ion-spinner>
            <span class="loadEnd" ng-show="loadState0==2">没有更多数据了</span>
        </div>
    </ion-content>

    <ion-content class="searchContent collect" ng-show="tabCur==1">
        <!--幼儿课堂-->
        <div class="SelContent">
            <div class="SelItem" ng-repeat="item_video in items_video" ng-click="playVideo(item_video)">
                <!--<div class="SelImage">-->
                    <!--<img src="images/temp/recItem01.png" />-->
                <!--</div>-->
                <!--<div class="SelItemTitle">-->
                    <!--大家好大家好大家好-->
                <!--</div>-->
                <!--接后台-->
                <div class="SelImage">
                <img src="{{ item_video.imgUrl }}" />
                </div>
                <div class="SelItemTitle">
                {{ item_video.name }}
                </div>
            </div>
        </div>
        <!--加载更多-->
        <div class="loadMoreBox">
            <span class="loadMore" ng-show="loadState1==0" ng-click="loadMoreData1()">查看更多</span>
            <span class="moreIcon" ng-show="loadState1==0" ng-click="loadMoreData1()"></span>
            <ion-spinner icon="bubbles" class="spinner-balanced loading" ng-show="loadState1==1"></ion-spinner>
            <span class="loadEnd" ng-show="loadState1==2">没有更多数据了</span>
        </div>
    </ion-content>

    <ion-content class="searchContent collect" ng-show="tabCur==2">
        <!--教育资讯-->
        <div class="InfCntBox">
            <div class="InfItem" ng-repeat="item_inf in items_inf" ng-click="showInfDet(item_inf)">
                <!--<div class="InfItemImg">-->
                    <!--<img src="images/temp/recItem01.png" />-->
                <!--</div>-->
                <!--<div class="InfItemBrief">-->
                    <!--<div class="InfTitle">-->
                        <!--南苏丹的中国女医生：当地中国人已在8个点紧急集结-->
                    <!--</div>-->
                    <!--<div class="InftAbout">-->
                        <!--<span>中国青年报</span>-->
                        <!--<span>3阅读</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--接后台-->
                <div class="InfItemImg">
                <img src="{{ item_inf.imgUrl }}" />
                </div>
                <div class="InfItemBrief">
                <div class="InfTitle">
                {{ item_inf.name }}
                </div>
                <div class="InftAbout">
                <span>中国青年报</span>
                <span>{{ item_inf.pv | numberTo4 }}阅读</span>
                </div>
                </div>
            </div>
        </div>
        <!--加载更多-->
        <div class="loadMoreBox">
            <span class="loadMore" ng-show="loadState2==0" ng-click="loadMoreData2()">查看更多</span>
            <span class="moreIcon" ng-show="loadState2==0" ng-click="loadMoreData2()"></span>
            <ion-spinner icon="bubbles" class="spinner-balanced loading" ng-show="loadState2==1"></ion-spinner>
            <span class="loadEnd" ng-show="loadState2==2">没有更多数据了</span>
        </div>
    </ion-content>
</ion-view>