<ion-view title="教育资讯">
    <ion-nav-bar class="nav-title-slide-ios7" align-title="center"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <span class="button ion-chevron-left" ng-click="goBack()"></span>
    </ion-nav-buttons>
    <!--<ion-nav-buttons side="right">-->
        <!--<span ng-click="store()">收藏</span>-->
    <!--</ion-nav-buttons>-->

    <ion-content>
        <div class="InfDetTitle">
            <span class="TitleText">{{ displayInfName }}</span>
            <span class="button storeInf" ng-click="store()" ng-class="{'active':storeActive}"></span>
        </div>
        <div class="InfDetSubTitle">
            中国青年报  7-10 09:00
        </div>
        <div class="InfDetContent" ng-bind-html="displayInfCnt">
            <!--{{ displayInfCnt }}-->
        </div>
        <!--接后台-->
        <!--<div class="InfDetTitle">-->
            <!--<span class="TitleText">{{ item. }}</span>-->
            <!--<span class="button storeInf"  ng-click="store()"></span>-->
        <!--</div>-->
        <!--<div class="InfDetSubTitle">-->
            <!--{{ item. }}-->
        <!--</div>-->
        <!--<div class="InfDetContent">-->
            <!--{{ item. }}-->
        <!--</div>-->

    </ion-content>
</ion-view>