<ion-view title="幼儿课堂">
    <ion-content>

        <!--播放器-->
        <div class="videoPlayer">
            <video id="videoPlayerMy" width="100%" controls="controls" webkit-playsinline>
                <!--<source src="http://www.w3school.com.cn/i/movie.ogg" type="video/ogg">-->
                <!--<source src="http://www.w3school.com.cn/i/movie.mp4" type="video/mp4">-->
                <source src="http://pics.dadashi.cn/flash/xuequ/mobile/M1X000004.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="videoAction">
                <span class="button ion-chevron-left videoPlayBack" ng-click="goBack()"></span>
            </div>
            <span class="loadingText " ng-show="loadingTextShow==1">正在获取数据...</span>

        </div>
        <!--视频简介-->
        <div class="videoCont">
            <div class="videoTitle">
                <span class="titleText">{{ current.title }}</span>
                <span class="videoPv">已有{{ current.count }}人播放</span>
                <span class="button store" ng-click="store()" ng-class="{'active':current.storeActive}"></span>
                <span class="button praise" ng-click="praise()" ng-class="{'active':current.praiseActive}"></span>
                <span class="button ion-chevron-right VideoPlayMore"  ng-click="togglePinch()"></span>
            </div>
            <!--<div class="comment">-->
                <!--<span>评分:</span>-->
                <!--<span>{{ current.score }}</span>-->
            <!--</div>-->
            <div class="videoBeriefe">
                {{ current.beriefe }}
                <!--小老鼠上灯台\n演唱：小蓓蕾组合小老鼠 上灯台\n偷油吃 下不来\n叫妈妈呀 妈妈不在\n骨碌骨碌滚下来 呦呦\n骨碌骨碌滚下来 呦小老鼠 上灯台\n偷油吃 下不来\n叫妈妈呀 妈妈不在\n骨碌骨碌滚下来 呦呦\n骨碌骨碌滚下来 呦小老鼠 上灯台\n偷油吃 下不来\n叫妈妈呀 妈妈不在\n骨碌骨碌滚下来 呦呦\n骨碌骨碌滚下来 呦小老鼠 上灯台\n偷油吃 下不来\n叫妈妈呀 妈妈不在\n骨碌骨碌滚下来 呦呦\n骨碌骨碌滚下来 呦小老鼠 上灯台\n偷油吃 下不来\n叫妈妈呀 妈妈不在\n骨碌骨碌滚下来 呦呦\n骨碌骨碌滚下来 呦小老鼠 上灯台\n偷油吃 下不来\n叫妈妈呀 妈妈不在\n骨碌骨碌滚下来 呦呦\n骨碌骨碌滚下来 呦-->
            </div>

        </div>
        <div class="SetBox">
            <div class="Title">
                选集
                <!--<span class="button ion-chevron-right VideoPlayMore"></span>-->
            </div>
            <ion-scroll zooming="false" direction="x" style="height: 90px">
                <div class="SetVideoBox">
                    <!--<div class="SetItem"  ng-repeat="item_play in items_play" ng-class="{'active':$index==currentIndex}" ng-click="playVideoByIndex($index)">-->
                        <!--<div>-->
                            <!--<img src="images/temp/navItem01.png" />-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--接后台-->
                    <div class="SetItem"  ng-repeat="item_play in items_play" ng-class="{'active':$index==currentIndex}" ng-click="playVideoByIndex($index)">
                        <div>
                            <img src="{{ item_play.imgUrl }}" />
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </div>
        <!--为你推荐-->
        <div class="SelContent">
            <div class="Title">
                为你推荐
            </div>
            <div class="SelItem" ng-repeat="item_video in items_video" ng-click="changePlayByThemeid(item_video)">
                <!--<div class="SelImage">-->
                    <!--<img src="images/temp/recItem01.png" />-->
                <!--</div>-->
                <!--<div class="SelItemTitle">-->
                    <!--大家好大家好大家好-->
                <!--</div>-->
                <!--<div class="SelItemSubTitle">-->
                    <!--已有34万人播放-->
                <!--</div>-->
                <!--接后台-->
                <div class="SelImage">
                <img src="{{ item_video.imgUrl }}" />
                </div>
                <div class="SelItemTitle">
                {{ item_video.name }}
                </div>
                <div class="SelItemSubTitle">
                已有{{ item_video.pv }}万人播放
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>