<ion-view>
    <ion-nav-bar class="bar-tf">
        <ion-nav-back-button class="btt-col" ng-click="goBack()">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="school-bg">
        <div class="dis-list"  ng-repeat="item in items">
            <a class="item item-avatar dis-class" ng-click="goSearch(item.id)" style="padding: 19px" >
                <span class="checkOnclass-left">{{ item.name }}</span>
                <img src="{{item.url}}"/>
                <span class="dibu-second"></span>
            </a>
        </div>
    </ion-content>
</ion-view>