<ion-view>
    <ion-nav-bar class="bar-tf">
        <ion-nav-back-button class="btt-col" ng-click="goBack()">
        </ion-nav-back-button>
    </ion-nav-bar>
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button-stable button-clear" style="color: white" onclick="">发布</button>-->
    <!--</ion-nav-buttons>-->
    <ion-content class="checkOn-bg">
        <div class="dis-list">
                <div class="recipes-dt">

                    <span class="checkOn-dateTop">
                        <!--<span class="checkOn-calendar"><img src="./images/calendar.png"/></span>-->
                        <span class="checkOn-date">2016-07-07</span>
                        <span class="checkOn-mon">星期五</span>
                    </span>
                </div>
                <div class="personalIn">
                        <div class="name-time">
                                <span>周助</span>
                                <time>2016-06-12</time>
                        </div>
                <div class="signIn">
                    <div class="time-point">
                        <span><img src="./images/green-pt.png"/></span>
                        <time>8:30</time>
                    <div class="video-pic">
                        <i class="line"></i>
                        <img src="#"/>
                    </div>
                    </div>
                    <div class="time-point">
                        <span><img src="./images/green-pt.png"/></span>
                        <time>16:30</time>
                    <div class="video-pic">
                        <i class="line"></i>
                        <img src="#"/>
                    </div>
                    </div>
                    <div class="time-point-nopic">
                        <span><img src="./images/green-pt.png"/></span>
                        <time>8:30</time>
                    <div class="video-pic">
                        <i class="line-short"></i>
                    </div>
                    </div>
                <div class="time-point">
                    <span><img src="./images/green-pt.png"/></span>
                    <time>16:30</time>
                    <div class="video-pic">
                        <i class="line"></i>
                        <img src="#"/>
                    </div>
                </div>

        </div>

    </div>
        </div>
        <ion-content>
</ion-view>