<ion-view title="课程安排">
    <!--<ion-nav-bar class="bar-tf">-->
        <!--<ion-nav-back-button class="btt-col">-->
        <!--</ion-nav-back-button>-->
    <!--</ion-nav-bar>-->
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button-stable button-clear" style="color: white">发布</button>-->
    <!--</ion-nav-buttons>-->
    <ion-content>
        <!--<div class="courseArr-allt">-->
            <!--<div class="courseArr-con" ng-repeat="item in items">-->
                <!--<span>{{ item.title }}</span>-->
                <!--<div class="courseArr-pic"><img src="{{item.imgs}}"/></div>-->
                <!--<div class="time-del">-->
                    <!--<time>{{item.creationTime}}</time>-->
                    <!--<a ng-click="del(item)">删除</a>-->
                <!--</div>-->
                <!--<div class="border-bott"></div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="courseArr-allt">
            <div class="courseArr-con" ng-repeat="item in items">
                <span>{{ item.title }}</span>
                <div class="courseArr-pic"><img src="{{item.imgs[0]}}"/></div>
                <div class="time-del">
                    <time>{{item.creationTime | dataTime}}</time>
                    <a ng-click="del($index,item.syllabusId)" data-id="{{item.syllabusId}}">删除</a>
                </div>
                <div class="border-bott"></div>
            </div>
        </div>
        <div class="cont" ng-show="pro">
            <span class="no-data">暂无数据</span>
        </div>
    </ion-content>
