<ion-view title="课程安排">
    <ion-content>



        <ul class="courseArr-allt">
            <li class="courseArr-con" ng-repeat="item in items">
                <span>{{ item.title }}</span>
                <div class="courseArr-pic"><img src="{{item.imgs[0]}}"/></div>
                <div class="time-del">
                    <time>{{item.creationTime | dataTime}}</time>
                    <a ng-click="showConfirm($index,item.syllabusId)" data-id="{{item.syllabusId}}" ng-show="type == 2" >删除</a>
                </div>
                <div class="border-bott"></div>
            </li>
            <!--<li class="clear"></li>
            <li class="noMore" ng-show="noMore">没有更多数据了</li>-->
        </ul>
       <!-- <ion-infinite-scroll on-infinite="pullUp()" distance="1%" ng-if="doMore">
        </ion-infinite-scroll>-->
        <div class="loadMoreBox">
            <span class="loadMore" ng-show="loadState==0" ng-click="pullUp()">查看更多</span>
            <span class="moreIcon" ng-show="loadState==0" ng-click="pullUp()"></span>
            <ion-spinner icon="bubbles" class="spinner-balanced loading" ng-show="loadState==1"></ion-spinner>
            <span class="loadEnd" ng-show="loadState==2">没有更多数据了</span>
        </div>

       <!-- <div class="cont" ng-show="pro">
            <span class="no-data">暂无数据</span>
        </div>-->
    </ion-content>
</ion-view>
