<ion-view title="食谱">
    <ion-content class="">

        <onezone-datepicker datepicker-object="onezoneDatepicker">
            <button class="button button-block button-outline button-positive show-onezone-datepicker">
                <i class="icon ion-calendar"></i>{{onezoneDatepicker.date | date:'yyyy年 MM月 dd日'}}
                <!--<img src="./images/calendar.png">{{onezoneDatepicker.date | date:'yyyy年 MM月 dd日'}}-->
            </button>
        </onezone-datepicker>

        <div class="list no-break" overflow-scroll="true" overflow="auto">
           <!-- <a class="item item-thumbnail-left footer-line" ng-click="goSearch()">
                <img src="http://www.runoob.com/try/demo_source/blue-album.jpg">
                <h2>早餐</h2>
                <p>Blue Album</p>
            </a>-->
            <a class="item item-thumbnail-left footer-line" ng-repeat="item in items">
                <!--<img src="./images/food.jpg">-->
                <img src="{{(item.cookUrl)[0]}}">
                <h2>{{item.dinnerTime }}</h2>
                <p>{{item.cookName}}</p>
            </a>

            <div class="cont" ng-show="pro">
                <span class="no-data">暂无数据</span>
            </div>

        </div>


    </ion-content>
</ion-view>