
<ion-view>

    <ion-content class="school-bg">

        <div class="list">

            <a class="item item-avatar homepage" ng-href="#/openClass">
                <!--<img src="./images/creama.png" style="border-radius: 0;max-width: 44px;max-height: 44px;left: 35px">-->
                <span class="school-font">开放课堂</span>
                <span class="school-message">正在直播</span>
            </a>
                <div class="school-space"></div>
            <a class="item item-avatar" ng-href="#/checkOnclass">
                <!--<img src="./images/checkOnclass.png"  style="border-radius: 0;max-width: 44px;max-height: 44px;left: 35px">-->
                <span class="school-font">考勤</span>
                <time class="school-message">09:18</time>
            </a>
            <a class="item item-avatar" ng-href="#/askForlv">
                <!--<img src="./images/askForlv.png"  style="border-radius: 0;max-width: 44px;max-height: 44px;left: 35px">-->
                <span class="school-font">请假</span>
                <span class="school-message">昨天</span>
            </a>
                <div class="school-space"></div>
            <a class="item item-avatar" ng-href="#/noticeRead">
                <!--<img src="#"  style="border-radius: 0;max-width: 44px;max-height: 44px;left: 35px">-->
                <span class="school-font">通知</span>
                <span class="school-message">星期五</span>
            </a>
            <a class="item item-avatar" ng-href="#/foodList">
                <!--<img src="./images/recipes.png"  style="border-radius: 0;max-width: 44px;max-height: 44px;left: 35px">-->
                <span class="school-font">食谱</span>
                <span class="school-message">16/7/10</span>
            </a>
            <a class="item item-avatar" ng-href="#/courseArr">
                <!--<img src="./images/courseArr.png"  style="border-radius: 0;max-width: 44px;max-height: 44px;left: 35px">-->
                <span class="school-font">课程安排</span>
                <span class="school-message">></span>
            </a>

        </div>

    </ion-content>
    <!--<div class="bar bar-footer">-->
        <!--<a href="#">动态</a>-->
        <!--<a href="#">学校</a>-->
        <!--<a href="#">发现</a>-->
        <!--<a href="#">消息</a>-->
    <!--</div>-->
</ion-view>