<ion-view>
    <!--<ion-nav-bar class="bar-tf">-->
        <!--<ion-nav-back-button class="btt-col">-->
        <!--</ion-nav-back-button>-->
    <!--</ion-nav-bar>-->
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button-stable button-clear" style="color: black">全部阅读</button>-->
    <!--</ion-nav-buttons>-->
    <ion-nav-bar class="bar-tf">
        <ion-nav-back-button class="btt-col" ng-click="goBack()">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
                <div class="list" style="height: 83px">
                    <a class="item item-avatar dis-school noticeRead-dis"  ng-click="goSearch()">
                        <img src="#" class="noticeRead-img">
                        <span class="notify-content-readMessage"></span>
                        <span class="notify-time">2016-07-20 18:00</span>
                        <p class="notify-inf"></p>
                    </a>
                </div>
    </ion-content>
</ion-view>
<!--<script>-->
    <!--var all =$('.item-avatar');-->
    <!--for(var i=0; i<all.length;i++){-->
        <!--all[i].click(function(){-->
        <!--})-->
    <!--}-->
<!--</script>-->
<!--<script type="text/javascript">-->
    <!--$.fn.ellipsis.debug = true;-->
<!--</script>-->
