<ion-view>
    <!--<ion-nav-bar class="bar-tf">-->
        <!--<ion-nav-back-button class="btt-col">-->
        <!--</ion-nav-back-button>-->
    <!--</ion-nav-bar>-->
    <ion-nav-bar class="bar-tf">
        <ion-nav-back-button class="btt-col" ng-click="goBack()">
        </ion-nav-back-button>
    </ion-nav-bar>
        <div class="list">
            <a class="item item-avatar">
                <img src="#">
                <span>你好你好</span>
                <span class="notify-time">2016-07-20 18:00</span>
                <p class="message">Back off, man. I'm a scientist.Back off, man. I'm a scientist.Back off, man. I'm a scientist.
                    Back off, man. I'm a scientist.Back off, man. I'm a scientist.Back off, man. I'm a scientist.Back off, man. I'm a scientist.
                    Back off, man. I'm a scientist.Back off, man. I'm a scientist.Back off, man. I'm a scientist.Back off, man. I'm a scientist.
                    Back off, man. I'm a scientist.Back off, man. I'm a scientist.Back off, man. I'm a scientist.Back off, man. I'm a scientist.</p>
            </a>
        </div>
</ion-view>