<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.hunme.school">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LeaveAskActivity"
            android:screenOrientation="portrait"
          />

        <activity
            android:name=".activity.PublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PublishDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.LeaveListActivity"/>
        <activity android:name=".activity.CourseArrangeActivity" />
        <activity android:name=".activity.FoodListActivity" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.ClassListActivity" />
        <activity android:name=".activity.PublishFoodActivity" />
        <activity android:name=".activity.PublishInfoActivity" />
        <activity android:name=".activity.ChooseClassActivity" />
        <activity android:name=".activity.MedicineListTActivity" />
        <activity android:name=".activity.MedicineListSActivity" />
        <activity android:name=".activity.MedicineTaskTActivity" />
        <activity android:name=".activity.MedicineEntrustActivity"></activity>
    </application>

</manifest>