<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.hongzhang.school">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LeaveAskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PublishListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PublishDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.LeaveListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CourseArrangeListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FoodListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TestActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.ClassListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PublishFoodActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PublishInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChooseClassActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MedicineListTActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MedicineListSActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MedicineTaskTActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MedicineEntrustActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PublishActiveActivityT"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.HomeInteractionActivityS"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.HomeInteractionActivityT"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RankingListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.TaskDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SubmitTaskActivityS"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SubmitTaskListActivityT"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SubmitTaskDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CommentTaskActivityT"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CommentTaskActivityS"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.OfficeReadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CameraCaptureActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
    </application>

</manifest>