<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>动态</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../common/css/mui.min.css">
    <link rel="stylesheet" href="../../common/css/previewImg.css"/>
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
<!--下拉刷新容器-->
<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll" id="list">
    	<div class="mui-table-view">

            <!--<div class="app-mainBox">
                <div class="app-leftIn">
                    <div class="app-photo">
                        <img src="http://eduslb.openhunme.com/head/34f7752ddb384677b05a185e2cedebd7/14722066771251472206677523.jpg"><span class="mui-badge mui-badge-danger app-badge back-green">师</span>
                    </div>
                </div>

                <div class="app-rigthIn">
                    <div class="app-name">
                        周龙龙
                    </div>
                    <div class="app-content">
                        <div class="text">
                            晕倒
                        </div>
                    </div>

                    <div class="app-control" data-islike="2" data-likecnt="3" data-dynamicid="7e898c07df1747fb88717119ef9ece88">
                        <span class="app-time">
                            <span class="app-time">2016-08-30 13:33:45</span>
                        </span>
                        &lt;!&ndash;<span class="mui-pull-right" id="more">&ndash;&gt;
                            &lt;!&ndash;<img src="../images/heart.png" style="width:20px;"><span class="count">2</span>
                            <img src="../images/heart.png" style="width:20px;"><span class="count">评论</span>&ndash;&gt;
                        <span class="mui-pull-right comment">
                            &lt;!&ndash;<em class="W_ficon ficon_praised S_ficon W_f16"></em>&ndash;&gt;
                            &lt;!&ndash;<span class="mui-icon mui-icon-heart"></span>&ndash;&gt;
                            <img src="../images/comment.jpg" style="width:16px;">
                            <span class="counts">1</span>
                            &lt;!&ndash;<span>赞</span>&ndash;&gt;
                        </span>

                        <span id="like" class="mui-pull-right like">
                            &lt;!&ndash;<em class="W_ficon ficon_repeat S_ficon W_f16"></em>&ndash;&gt;
                            <img src="../images/heart.png" style="width:16px;">
                            <span class="counts">0</span>
                            &lt;!&ndash;<span>评论</span>&ndash;&gt;
                        </span>

                        &lt;!&ndash;</span>&ndash;&gt;

                       &lt;!&ndash; <a class="item dy_like_btn_v3 popup" id="popup" href="javascript:;" data-show="0" style="display: none;">
                            <img src="../images/heart.png">
                            <span id="thumb">赞</span>
                        </a>&ndash;&gt;

                    </div>

                    <div class="names" id="names">
                        <span class="top"></span>
                        <img src="../images/lightHeart.png" width="20px" height="18px">
                    </div>
                </div>
            </div>
-->
      </div>
    </div>
</div>

<script src="../../common/js/mui.min.js"></script>
<script src="../../common/js/mui.zoom.js"></script>
<script src="../../common/js/mui.previewimage.js"></script>
<script src="../../common/jquery/jquery.js"></script>
<script src="../js/dynamicCtrl.js"></script>


</body>

</html>