<ion-view title="教育资讯">
    <ion-nav-bar class="nav-title-slide-ios7" align-title="center"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <span class="button ion-chevron-left" ng-click="goBack()"></span>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <span ng-click="store()">收藏</span>
    </ion-nav-buttons>

    <ion-content>
        <div class="InfDetTitle">
            中国空军赴南海战巡 几乎囊括所有主力机种
        </div>
        <div class="InfDetSubTitle">
            不二 2016年7月19日14时11分
        </div>
        <div class="InfDetContent">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;眼下就是莼菜采摘的季节，杭州萧山湘湖青浦问莼景区种植了20多亩莼菜。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;南宋《会稽志》记载：“萧山湘湖之莼特珍。”湘湖莼菜具有悠久的栽培历史，宋代诗人陆游有40余首描写莼菜的诗作，诗中详尽描述了莼菜的采摘、上市、烹煮等情景。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;昨天，钱报记者穿上倒背衣体验了一番莼菜采摘。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;滑不溜秋的小芽孢</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;稍不留神就从指缝溜走</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;莼菜采摘期很长，每年4月~10月都可采摘，最佳采摘期是4月中下旬到5月上旬，这时采到的莼菜品相最好。而湘湖青浦问莼的莼菜以育种为主要目的，主要是三大品种，包括西湖红叶、太湖一号、湖北利川红叶，以及少量的莼菜野生种。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;新湘湖农业开发公司的负责人钟姐，早就准备好了两件倒背衣。因为水面下肉嘟嘟的莼菜小芽孢，需要趴在船上或者弯下腰去采摘。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;我在船上把手伸进水里，在枝节分叉处看到了一个小芽孢，滑溜溜的，一时没抓住。钟姐说：“对，就采这个，很滑的，比泥鳅还滑，要用点劲的。”果然，要稍微用点劲才能把它抓住采下来，不然一不小心就从指缝间溜走。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;莼菜的营养全在这层包裹着的滑滑的粘液里。我发现，越小的芽孢包裹着的粘液越厚，随着叶面张大粘液就慢慢变少，长出水面的莼菜已经没有了粘液，吃起来跟菜叶一样。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;天晴水清</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;一上午最多采两三斤</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;约摸50分钟后，我跟钟姐两人采了薄薄一层脸盆底的莼菜，这时我发现，手指因长时间泡在水里已经起皱了。再看看这莼菜，其实没多少，大概只够做一份汤。往秤上一放，一斤不到。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;我是采摘莼菜的生手，但哪怕老手吴师傅也采不多，一个上午最多采两三斤。吴师傅趴在小船上小心翼翼采摘，一天下来腰酸背痛。而且双手长时间泡在水里，起了厚厚的皱纹。有人建议他戴手套采，吴师傅笑笑，“你要想莼菜从碗里捞都难，别说戴着手套从水中采了。”</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;吴师傅说，采莼菜还要看天气，趁着天气晴好、湖水清澈的时候才能采，如果下雨水面浑浊，是看不清水底下的莼菜小芽孢的。</p>
        </div>

    </ion-content>
</ion-view>