<ion-view title="乐园">
    <ion-nav-bar class="nav-title-slide-ios7" align-title="center"></ion-nav-bar>
    <ion-nav-buttons side="left">
        记录
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        搜索
    </ion-nav-buttons>

    <ion-content>
        <!--轮播图-->
        <div class="AdBox">
            <div class="ImageBox">
                <div ng-repeat="item in banImgs" ng-class="{'CurBanner':bannerCur==$index}">
                    <img src="{{ item.url }}" />
                </div>
                <!-- -->
                <!--<div ng-class="{'CurBanner':bannerCur==0}">-->
                    <!--<img src="images/temp/ad01.png" />-->
                <!--</div>-->
                <!--<div ng-class="{'CurBanner':bannerCur==1}">-->
                    <!--<img src="images/temp/ad02.png" />-->
                <!--</div>-->
                <!--<div ng-class="{'CurBanner':bannerCur==2}">-->
                    <!--<img src="images/temp/ad03.png" />-->
                <!--</div>-->
            </div>
            <div class="FlagBoxOut">
                <div class="FlagBox">
                    <div ng-repeat="item in banImgs" ng-class="{'CurBanner':bannerCur==$index}"></div>
                    <!--<div ng-class="{'CurBanner':bannerCur==0}"></div>-->
                    <!--<div ng-class="{'CurBanner':bannerCur==1}"></div>-->
                    <!--<div ng-class="{'CurBanner':bannerCur==2}"></div>-->
                </div>
            </div>
        </div>
        <!--模块导航-->
        <div class="NavBox">
            <div class="NavItem" ng-click="goChildClass()">
                <div class="NavImage">
                    <img src="images/temp/navItem01.png" />
                </div>
                <div class="NavTitle">
                    幼儿课堂
                </div>
            </div>
            <div class="NavItem" ng-click="goChildMusic()">
                <div class="NavImage">
                    <img src="images/temp/navItem02.png" />
                </div>
                <div class="NavTitle">
                    幼儿听听
                </div>
            </div>
            <div class="NavItem" ng-click="goEduInformation()">
                <div class="NavImage">
                    <img src="images/temp/navItem03.png" />
                </div>
                <div class="NavTitle">
                    教育资源
                </div>
            </div>
        </div>
        <!--推荐-->
        <div class="RecomBox">
            <div class="RecomTitle">
                推荐故事
                <span class="More" ng-click="goEduInformation()">
                    更多
                    <span class="MoreArrow"></span>
                </span>
            </div>
            <div class="RecomContent">
                <div class="RecomItem" ng-repeat="item_eduInf in items_eduInf" ng-click="showEduInf(item_eduInf)">
                    <div class="RecomImage">
                        <img src="images/temp/recItem01.png" />
                    </div>
                    <div class="RecomItemTitle">
                        大家好大家好大家好
                    </div>
                </div>
                <!--<div class="RecomItem">-->
                    <!--<div class="RecomImage">-->
                        <!--<img src="images/temp/recItem01.png" />-->
                    <!--</div>-->
                    <!--<div class="RecomItemTitle">-->
                        <!--大家好大家好大家好-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="RecomItem">-->
                    <!--<div class="RecomImage">-->
                        <!--<img src="images/temp/recItem02.png" />-->
                    <!--</div>-->
                    <!--<div class="RecomItemTitle">-->
                        <!--大家好大家好大家好-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="RecomItem">-->
                    <!--<div class="RecomImage">-->
                        <!--<img src="images/temp/recItem03.png" />-->
                    <!--</div>-->
                    <!--<div class="RecomItemTitle">-->
                        <!--大家好大家好大家好-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="RecomItem">-->
                    <!--<div class="RecomImage">-->
                        <!--<img src="images/temp/recItem04.png" />-->
                    <!--</div>-->
                    <!--<div class="RecomItemTitle">-->
                        <!--大家好大家好大家好-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <!--推荐-->
        <div class="RecomBox">
            <div class="RecomTitle">
                推荐音乐
                <span class="More"  ng-click="goChildMusic()">
                    更多
                    <span class="MoreArrow"></span>
                </span>
            </div>
            <div class="RecomContent">
                <div class="RecomItem" ng-repeat="item_audio in items_audio" ng-click="playAudio(item_audio)">
                    <div class="RecomImage">
                        <img src="images/temp/recItem01.png" />
                    </div>
                    <div class="RecomItemTitle">
                        大家好大家好大家好
                    </div>
                </div>
                <!--<div class="RecomItem">-->
                    <!--<div class="RecomImage">-->
                        <!--<img src="images/temp/recItem02.png" />-->
                    <!--</div>-->
                    <!--<div class="RecomItemTitle">-->
                        <!--大家好大家好大家好-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="RecomItem">-->
                    <!--<div class="RecomImage">-->
                        <!--<img src="images/temp/recItem02.png" />-->
                    <!--</div>-->
                    <!--<div class="RecomItemTitle">-->
                        <!--大家好大家好大家好-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="RecomItem">-->
                    <!--<div class="RecomImage">-->
                        <!--<img src="images/temp/recItem03.png" />-->
                    <!--</div>-->
                    <!--<div class="RecomItemTitle">-->
                        <!--大家好大家好大家好-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="RecomItem">-->
                    <!--<div class="RecomImage">-->
                        <!--<img src="images/temp/recItem04.png" />-->
                    <!--</div>-->
                    <!--<div class="RecomItemTitle">-->
                        <!--大家好大家好大家好-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <!--推荐-->
        <div class="RecomBox">
            <div class="RecomTitle">
                推荐课程
                <span class="More" ng-click="goChildClass()">
                    更多
                    <span class="MoreArrow"></span>
                </span>
            </div>
            <div class="RecomContent">
                <div class="RecomItem" ng-repeat="item_video in items_video" ng-click="playVideo(item_video)">
                    <div class="RecomImage">
                        <img src="images/temp/recItem01.png" />
                    </div>
                    <div class="RecomItemTitle">
                        大家好大家好大家好
                    </div>
                </div>
                <!--<div class="RecomItem">-->
                    <!--<div class="RecomImage">-->
                        <!--<img src="images/temp/recItem01.png" />-->
                    <!--</div>-->
                    <!--<div class="RecomItemTitle">-->
                        <!--大家好大家好大家好-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="RecomItem">-->
                    <!--<div class="RecomImage">-->
                        <!--<img src="images/temp/recItem02.png" />-->
                    <!--</div>-->
                    <!--<div class="RecomItemTitle">-->
                        <!--大家好大家好大家好-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="RecomItem">-->
                    <!--<div class="RecomImage">-->
                        <!--<img src="images/temp/recItem03.png" />-->
                    <!--</div>-->
                    <!--<div class="RecomItemTitle">-->
                        <!--大家好大家好大家好-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="RecomItem">-->
                    <!--<div class="RecomImage">-->
                        <!--<img src="images/temp/recItem04.png" />-->
                    <!--</div>-->
                    <!--<div class="RecomItemTitle">-->
                        <!--大家好大家好大家好-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </ion-content>
</ion-view>