<ion-view title="视频播放">
    <ion-content>
        <div class="videoPlayBack"  ng-click="goBack()">
            <span class="button ion-chevron-left"></span>
        </div>
        <!--播放器-->
        <div clas="videoPlayer">
            <video width="100%" controls="controls">
                <source src="http://www.w3school.com.cn/i/movie.ogg" type="video/ogg">
                <source src="http://www.w3school.com.cn/i/movie.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <!--<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"-->
                    <!--WIDTH="100%">-->
                <!--<PARAM VALUE="myFlashMovie.swf">-->
                <!--<PARAM VALUE=high>-->
                <!--<PARAM VALUE=#FFFFFF>-->
                <!--<EMBED src="http://www.flash263.com/d/file/movie/49abdb8791d71ad42b47a16c33d46422.swf" quality=high bgcolor=#FFFFFF WIDTH="100%"-->
                       <!--NAME="myMovieName" ALIGN="" TYPE="application/x-shockwave-flash"-->
                       <!--PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer">-->
                <!--</EMBED>-->
            <!--</OBJECT>-->
            <!--<embed width="100%" height="100%" name="plugin" id="plugin" src="http://www.flash263.com/d/file/movie/49abdb8791d71ad42b47a16c33d46422.swf" type="application/x-shockwave-flash">-->
        </div>
        <!--视频简介-->
        <div class="videoCont">
            <div class="videoTitle">
                小熊好棒<span>已用34万人播放</span><span class="button ion-chevron-right videoContDet"></span>
            </div>
            <div class="videoBeriefe">
                简介：小熊很可爱，小熊很好吃，小熊很可爱
            </div>

        </div>
        <!--视频操作-->
        <div class="videoAction">
            <button class="button button-positive">点赞</button>
            <button class="button button-calm">评论</button>
            <button class="button button-energized" ng-click="store()">收藏</button>
            <button class="button button-royal">分享</button>
        </div>
        <!--选集-->
        <div class="SelBox">
            <div class="Title">
                选集
                <span class="button ion-chevron-right videoContDet"></span>
            </div>
            <div class="SelVideoBox">
                <div class="SelVideoItem">
                    <div class="SelVideoImage">
                        <img src="images/temp/navItem01.png" />
                    </div>
                </div>
                <div class="SelVideoItem">
                    <div class="SelVideoImage">
                        <img src="images/temp/navItem02.png" />
                    </div>
                </div>
                <div class="SelVideoItem">
                    <div class="SelVideoImage">
                        <img src="images/temp/navItem03.png" />
                    </div>
                </div>
            </div>
        </div>
        <!--为你推荐-->
        <div class="SelContent">
            <div class="Title">
                为你推荐
            </div>
            <div class="SelItem">
                <div class="SelImage">
                    <img src="images/temp/recItem01.png" />
                </div>
                <div class="SelItemTitle">
                    大家好大家好大家好
                </div>
                <div class="SelItemSubTitle">
                    已有34万人阅读
                </div>
            </div>
            <div class="SelItem">
                <div class="SelImage">
                    <img src="images/temp/recItem02.png" />
                </div>
                <div class="SelItemTitle">
                    大家好大家好大家好
                </div>
                <div class="SelItemSubTitle">
                    已有34万人阅读
                </div>
            </div>
            <div class="SelItem">
                <div class="SelImage">
                    <img src="images/temp/recItem03.png" />
                </div>
                <div class="SelItemTitle">
                    大家好大家好大家好
                </div>
                <div class="SelItemSubTitle">
                    已有34万人阅读
                </div>
            </div>
            <div class="SelItem">
                <div class="SelImage">
                    <img src="images/temp/recItem04.png" />
                </div>
                <div class="SelItemTitle">
                    大家好大家好大家好
                </div>
                <div class="SelItemSubTitle">
                    已有34万人阅读
                </div>
            </div>
            <div class="SelItem">
                <div class="SelImage">
                    <img src="images/temp/recItem03.png" />
                </div>
                <div class="SelItemTitle">
                    大家好大家好大家好
                </div>
                <div class="SelItemSubTitle">
                    已有34万人阅读
                </div>
            </div>
            <div class="SelItem">
                <div class="SelImage">
                    <img src="images/temp/recItem04.png" />
                </div>
                <div class="SelItemTitle">
                    大家好大家好大家好
                </div>
                <div class="SelItemSubTitle">
                    已有34万人阅读
                </div>
            </div>
            <div class="SelItem">
                <div class="SelImage">
                    <img src="images/temp/recItem04.png" />
                </div>
                <div class="SelItemTitle">
                    大家好大家好大家好
                </div>
                <div class="SelItemSubTitle">
                    已有34万人阅读
                </div>
            </div>
        </div>






    </ion-content>
</ion-view>