<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.hongzhang.user">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="net.hongzhang.user.activity.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.hongzhang.user.activity.UMassageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.hongzhang.user.activity.USettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.hongzhang.user.activity.UPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.hongzhang.user.activity.UploadPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.hongzhang.user.activity.AlbumSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.hongzhang.login.UserChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.hongzhang.user.activity.SystemInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.hongzhang.user.activity.AdviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.hongzhang.baselibrary.activity.UpdateMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.hongzhang.user.activity.ProvsionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.hongzhang.user.activity.InfoDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.hongzhang.user.activity.AlbumDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.hongzhang.baselibrary.cordova.HMDroidGap"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="net.hongzhang.user.activity.MyDynamicActivity" />
        <activity android:name="net.hongzhang.user.activity.StatusDetilsActivity" />
        <activity android:name="net.hongzhang.user.activity.ScanActivity" />
        <activity android:name="net.hongzhang.user.activity.CollectActivity" />
        <activity android:name="net.hongzhang.user.activity.TextContentActivity"></activity>
    </application>

</manifest>