<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.hunme.user">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.UserActivity" />
        <activity android:name=".activity.UserMassageActivity" />
        <activity android:name=".activity.UserSettingActivity" />
        <activity android:name=".activity.MyPhotoActivity" />
        <activity android:name=".activity.UploadPhotoActivity" />
        <activity android:name=".activity.AlbumActivity" />
        <activity android:name=".activity.PicActivity"></activity>
    </application>

</manifest>