<ion-view title="喂药">
    <ion-nav-bar class="nav-title-slide-ios7" align-title="center"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <span class="extend-right-click" ng-click="goBack()"><i class="ion-ios-arrow-left"></i></span>
    </ion-nav-buttons>

    <!--内容区域-->
    <ion-content class="hasBottomButton">

        <!--<div class="header-img">
            <a href="javascript:;" class="">
                <img class="" src="./images/icon/head.png">
                <span class="name">青青</span>
            </a>
        </div>
        <ul class="list-margin">
            <li>
                <div class="input-label"><span>喂药日期</span><span class="assertive">*</span></div>
                <textarea placeholder="请选择日期" id="input1" readonly="readonly" value="" required></textarea>
            </li>
            <li>
                <div class="input-label"><span>药物名称</span><span class="assertive">*</span></div>
                <input type="text" placeholder="请输入药物名称" required>
            </li>
            <li>
                <div class="input-label"><span>药物用量</span><span class="assertive">*</span></div>
                <input type="text" placeholder="请输入药物用量" required>
            </li>
            <li class="padding">
                <form class="">
                    <input type="radio" name="meal" value="饭前" />饭前
                    <input type="radio" name="meal" value="饭后" />饭后
                </form>
            </li>
            <li>
                <textarea placeholder="备注" required maxlength="200" rows="4"></textarea>
            </li>
        </ul>

        <div class="padding">
            <button class="button button-block theme-green" ng-click="finishTask(item.medicine_id)">已喂药</button>
        </div>
-->

        <div class="header-img" ng-click="toPerson(item.ts_id)" ng-hide="status == 2">
            <a href="javascript:;" class="">
                <img class="" src="{{item.imgUrl == null ? './images/icon/head.png' : item.imgUrl}}">
                <span class="name">{{item.ts_name}}</span>
            </a>
        </div>
        <ul class="list-margin">
            <li>
                <div class="input-label"><span>喂药日期</span><span class="assertive">*</span></div>
                <!--<input type="text" readonly value="{{item.medicineStatusList}}">-->
                <textarea readonly value="{{item.medicineStatusList}}">{{item.medicineStatusList}}</textarea>
                <!--<textarea id="input1" readonly value="{{item.medicineStatusList}}" required></textarea>-->
            </li>
            <li>
                <div class="input-label"><span>药物名称</span><span class="assertive">*</span></div>
                <input type="text" readonly value="{{item.medicine_name}}">
            </li>
            <li>
                <div class="input-label"><span>药物用量</span><span class="assertive">*</span></div>
                <input type="text" readonly value="{{item.medicine_dosage}}">
            </li>
            <li class="padding">

                <span class="radio_meal" ng-class="{true:'on'}[item.meal_before_or_after == 1]">
                    <input type="radio" disabled name="meal" value="1" class="radioclass"/>饭前
                </span>
                <span class="radio_meal" ng-class="{true:'on'}[item.meal_before_or_after == 2]">
                    <input type="radio" disabled name="meal" value="2" class="radioclass"/>饭后
                </span>
               <!-- <form>
                    <input type="radio" name="meal" value="1" disabled ng-model="item.meal_before_or_after"/>饭前
                    <input type="radio" name="meal" value="2" disabled ng-model="item.meal_before_or_after"/>饭后
                </form>-->
            </li>
            <li>
                <textarea placeholder="备注" readonly maxlength="200" rows="4">{{item.medicine_doc}}</textarea>
            </li>
        </ul>

        <div class="padding" id="submitMedTask" ng-show="status == 0" ng-model="status">
            <button class="button button-block theme-green" ng-click="finishTask($event)">已喂药</button>
        </div>
        <div class="padding" ng-show="status == 1" ng-model="status">
            <button class="button button-block finish-btn">完成</button>
        </div>


    </ion-content>
</ion-view>